<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>会員情報編集</h2>
    </div>
  </div>

  <%= form_with model: @customer,url: customers_information_path, local: true, method: :patch do |f| %>
    <div class="row my-2">
      <div class="col-2 offset-md-1"><%= f.label "名前" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(姓)" %></div>
      <div class="col-1"><%= f.text_field :last_name, :size => "10", autofocus: true %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(名)" %></div>
      <div class="col-1"><%= f.text_field :first_name, :size => "10", autofocus: true %></div>
    </div>

    <div class="row my-2">
      <div class="col-2 offset-md-1"><%= f.label "フリガナ" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(セイ)" %></div>
      <div class="col-1"><%= f.text_field :last_name_kana, :size => "10", autofocus: true %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(メイ)" %></div>
      <div class="col-1"><%= f.text_field :first_name_kana, :size => "10", autofocus: true %></div>
    </div>

    <div class="row my-2">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "31", autofocus: true, autocomplete: "email" %></div>
    </div>

    <div class="row my-2">
      <div class="col-3 offset-md-1"><%= f.label "郵便番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :postal_code, :size => "31", autofocus: true %></div>
    </div>

    <div class="row my-2">
      <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
      <div class="col-3"><%= f.text_field :address, :size => "31", autofocus: true %></div>
    </div>

    <div class="row my-2">
      <div class="col-3 offset-md-1"><%= f.label "電話番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :phone_number, :size => "31", autofocus: true %></div>
    </div>

    <div class="btn-wrapper col-10 mx-auto">
      <div class="row my-3">
        <%= f.submit "編集内容を保存", class: "btn btn-success"%>
      </div>

      <div class="row my-3">
        <%= link_to "退会する", customers_check_path, class: "btn btn-danger"%>
      </div>
    </div>

  <% end %>
</div>