<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
     <%= render "public/shared/sidebar", genres: @genres %>
    </div>
    <div class="col-sx-12 col-lg-9 my-5">
      <div class="card">
        <%= image_tag("lineup.jpg", class: "card-img", size: "400x350") %>
        <% if !customer_signed_in? %>
          <div class="card-img-overlay d-flex align-items-start justify-content-center">
            <div class="ml-3">
              <div class="bg-white p-5 " style="opacity: 75%;">
                <p class="text-dark">
                <strong>ようこそ、NaganoCakeへ！</strong><br><br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
  		  <h2 class="mx-3 my-5 border border-3 rounded-top col-4 text-center">
  		    <strong>新着商品</strong>
  		  </h2>
      
  		<div class="col-md-12 col-lg-12 px-0">
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image(150,100) %><br><br>
                <strong class="item_name my-3" style="color: #5EBFDA;"><%= item.name %></strong><br>
              <% end %>
              <strong class="my-2">¥<%= item.add_tax_price.to_s(:delimited) %></strong>
            </div>
          <% end %>
        </div>
      </div>
  	</div>
  </div>
  
  <div class="row">
  	  <div class="col-md-9 col-lg-9"></div>
  	  <div class="col-md-3 col-lg-3 my-3">
  	    <strong><%= link_to "全ての商品を見る＞",items_path , style: "color: #5EBFDA;"%></strong>
  	  </div>
    </div>
</div>