<div class="col-2 offset-md-1 my-5">
  <h3>
    <strong class="p-2 text-light" style="background-color: #A5408B;">新規登録</strong>
  </h3>
</div>


<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row my-2">
    <div class="col-2 offset-md-1"><%= f.label "名前" %></div>
    <div class="col-1 text-right pr-0"><%= f.label "(姓)" %></div>
    <div class="col-1"><%= f.text_field :last_name, :size => "10", autofocus: true %></div>
    <div class="col-1 text-right pr-0"><%= f.label "(名)" %></div>
    <div class="col-1"><%= f.text_field :first_name, :size => "10", autofocus: true %></div>
  </div>

  <div class="row my-2">
    <div class="col-2 offset-md-1"><%= f.label "フリガナ" %></div>
    <div class="col-1 text-right pr-0"><%= f.label "(セイ)" %></div>
    <div class="col-1"><%= f.text_field :last_name_kana, :size => "10", autofocus: true %></div>
    <div class="col-1 text-right pr-0"><%= f.label "(メイ)" %></div>
    <div class="col-1"><%= f.text_field :first_name_kana, :size => "10", autofocus: true %></div>
  </div>

  <div class="row my-2">
    <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
    <div class="col-3"><%= f.email_field :email, :size => "31", autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="row my-2">
  <div class="col-3 offset-md-1"><%= f.label "郵便番号(ハイフンなし)" %></div>
  <div class="col-3"><%= f.text_field :postal_code, :size => "31", autofocus: true %></div>
  </div>

  <div class="row my-2">
  <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
  <div class="col-3"><%= f.text_field :address, :size => "31", autofocus: true %></div>
  </div>

  <div class="row my-2">
  <div class="col-3 offset-md-1"><%= f.label "電話番号(ハイフンなし)" %></div>
  <div class="col-3"><%= f.text_field :phone_number, :size => "31", autofocus: true %></div>
  </div>

  <div class="row my-2">
    <div class="col-3 offset-md-1">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <div class="col-3"><%= f.password_field :password, :size => "31", autocomplete: "new-password" %></div>
  </div>

  <div class="row my-2">
    <div class="col-3 offset-md-1"><%= f.label "パスワード(確認用)" %></div>
    <div class="col-3"><%= f.password_field :password_confirmation, :size => "31", autocomplete: "new-password" %></div>
  </div>

  <div class="row my-2">
    <div class="col-2 offset-md-1 mt-3 mb-5">
      <%= f.submit "新規登録", class: "col btn btn-success" %>
    </div>
  </div>
<% end %>

<%= render "public/shared/links" %>