<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

  <!--ヘッダー部分（予定）-->

  <div><%= render 'layouts/header' %></div>

  <!--ボディ部分（予定）-->

  <p class='text-success'><%= flash[:notice] %></p>
  <p class='text-danger'><%= flash[:alert] %></p>

  <%= yield %>

  <!--フッター部分（予定）-->

  <%= render "layouts/footer" %>

  </body>
</html>
